.centered-view {
  padding: 300px 100px;
  text-align: center;
  // min-height: 100vh;

  &.lime {
    background: #C6FF04;
    color: #FF65AD;
  }

  &.green {
    background: #12A245;
    color: #FFBB97;
  }
}
